.img-container {
    width: 600px;
    height: 500px;
}
.img-container img {
    width: 100%;
    height: 100%;
}
.img-prev {
    margin-top: 10px;
}
.img-slide {
    display: inline-block;
    width: 24%;
    margin:0 2.5px ;
    height: 70px;
    opacity: 0.5;
}
.active {
    border: 2px solid rgb(0, 0, 0);
    opacity: 1;
}