<div class="img-container">
  <img src="../assets/1.jpg" alt="img-nature" id="main-img">
  <div class="img-prev">
    <div class="img-slide active">
      <img src="../assets/1.jpg" alt="img-nature" appGallery>
    </div>
    <div class="img-slide">
      <img src="../assets/2.jpg" alt="img-nature" appGallery>
    </div>
    <div class="img-slide">
      <img src="../assets/3.jpeg" alt="img-nature" appGallery>
    </div>
    <div class="img-slide">
      <img src="../assets/4.jpeg" alt="img-nature" appGallery>
    </div>
  </div>
</div>
